<?php declare(strict_types=1);
/**
 * Webtra.Docs - https://webtranet.online/wappstower/Webtra.Docs
 *
 * @link      https://gitlab.com/webtranet/Webtra.Docs.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<content class="webcomponents">

	<h1>Atoms</h1>
	<div>

		<h2>Informatives</h2>
		<div>

			<h3>Breadcrumb</h3>
			<div>
				<p class="code">&lt;tt-breadcrumb&gt;&lt;/tt-breadcrumb&gt;</p>
				<p class="description">
				just for viewing
				no disable
				</p>
				<tt-breadcrumb></tt-breadcrumb>
			</div>
			<tt-seperator></tt-seperator>

			<h3>Card</h3>
			<div>
				<p class="code">&lt;tt-card&gt;&lt;/tt-card&gt;</p>
				<p class="description">
				recursive disable? wenn nein, dann kein disable
				</p>
				<tt-card></tt-card>
				<tt-card>
					<article>
						Example Content
						<tt-button></tt-button>
					</article>
				</tt-card>
			</div>
			<tt-seperator></tt-seperator>

			<h3>CodeArea</h3>
			<div>
				<p class="code">&lt;tt-code-area&gt;&lt;/tt-code-area&gt;</p>
				<p class="description">
				label -> Kopfzeile?
				disable
				highlinging
				numbering
				copy-button
				</p>
				<tt-code-area></tt-code-area>
			</div>
			<tt-seperator></tt-seperator>

			<h3>Label</h3>
			<div>
				<p class="code">&lt;tt-label&gt;&lt;/tt-label&gt;</p>
				<p class="description">
				no disable
				</p>
				<tt-label>Lorem Ipsum</tt-label>
			</div>
			<tt-seperator></tt-seperator>

			<h3>Loadingbar</h3>
			<div>
				<p class="code">&lt;tt-loadingbar&gt;&lt;/tt-loadingbar&gt;</p>
				<p class="description">
				Prozent als value
				</p>
				<tt-loadingbar></tt-loadingbar>
			</div>
			<tt-seperator></tt-seperator>

			<h3>Paragraph</h3>
			<div>
				<p class="code">&lt;tt-paragraph&gt;&lt;/tt-paragraph&gt;</p>
				<p class="description">Description</p>
				<tt-paragraph></tt-paragraph>
			</div>
			<tt-seperator></tt-seperator>

			<h3>ProfileImage</h3>
			<div>
				<p class="code">&lt;tt-profile-image&gt;&lt;/tt-profile-image&gt;</p>
				<p class="description">
				href
				placeholder
				</p>
				<tt-profile-image></tt-profile-image>
			</div>
			<tt-seperator></tt-seperator>
			
			<h3>Seperator</h3>
			<div>
				<p class="code">&lt;tt-seperator&gt;&lt;/tt-seperator&gt;</p>
				<p class="description">Description</p>
				<tt-seperator></tt-seperator>
			</div>
			<tt-seperator></tt-seperator>

			<h3>Tag</h3>
			<div>
				<p class="code">&lt;tt-tag&gt;&lt;/tt-tag&gt;</p>
				<p class="description">Description</p>
				<tt-text-area></tt-text-area>
			</div>
			<tt-tag></tt-tag>

			<h3>TextArea</h3>
			<div>
				<p class="code">&lt;tt-text-area&gt;&lt;/tt-text-area&gt;</p>
				<p class="description">
				disabled
				max länge an zeichen
				</p>
				<tt-text-area></tt-text-area>
			</div>
			<tt-seperator></tt-seperator>

			<h3>Toast</h3>
			<div>
				<p class="code">&lt;tt-toast&gt;&lt;/tt-toast&gt;</p>
				<p class="description">
				closable
				timer=0 -> sticky
				</p>
				<tt-toast></tt-toast>
			</div>
			<tt-seperator></tt-seperator>

			<h3>Tooltip</h3>
			<div>
				<p class="code">&lt;tt-tooltip&gt;&lt;/tt-tooltip&gt;</p>
				<p class="description">
				erscheint nach einiger zeit oder sofort
				verschwindet nicht oder erst nach zeit
				direction -> 8 möglichkeiten
				No mobile
				</p>
				<tt-tooltip>Test Tooltip</tt-tooltip>
			</div>
		</div>

		<hr>

		<h2>Interactives</h2>
		<div>
			<h3>Button</h3>
			<div>
				<p class="code">&lt;tt-button&gt;&lt;/tt-button&gt;</p>
				<p class="description">Primary & Normal</p>
				<tt-button>My Button</tt-button> <tt-button>My Button</tt-button>
			</div>
			<tt-seperator></tt-seperator>

			<h3>Dropdown</h3>
			<div>
				<p class="code">&lt;tt-dropdown&gt;&lt;/tt-dropdown&gt;</p>
				<p class="description">Description</p>
				<tt-dropdown></tt-dropdown>
			</div>
			<tt-seperator></tt-seperator>

			<h3>Radio</h3>
			<div>
				<p class="code">&lt;tt-radio&gt;&lt;/tt-radio&gt;</p>
				<p class="description">Description</p>
				<tt-radio></tt-radio>
			</div>
			<tt-seperator></tt-seperator>

			<h3>RadioGroup</h3>
			<div>
				<p class="code">&lt;tt-radio-group&gt;&lt;/tt-radio-group&gt;</p>
				<p class="description">Description</p>
				<tt-radio-group>
					<tt-radio></tt-radio>
					<tt-radio></tt-radio>
					<tt-radio></tt-radio>
				</tt-radio-group>
			</div>
			<tt-seperator></tt-seperator>

			<h3>ToggleButton</h3>
			<div>
				<p class="code">&lt;tt-toggle-button&gt;&lt;/tt-toggle-button&gt;</p>
				<p class="description">Description</p>
				<tt-toggle-button></tt-toggle-button>
			</div>

			<h3>ToggleSwitch</h3>
			<div>
				<p class="code">&lt;tt-toggle-switch&gt;&lt;/tt-toggle-switch&gt;</p>
				<p class="description">Description</p>
				<tt-toggle-switch></tt-toggle-switch>
			</div>

		</div>

		<hr>

		<h2>CronoPicker</h2>
		<div>
			<h3>DatePicker</h3>
			<div>
				<p class="code">&lt;tt-date-picker&gt;&lt;/tt-date-picker&gt;</p>
				<p class="description">Description</p>
				<tt-date-picker></tt-date-picker>
			</div>
			<tt-seperator></tt-seperator>

			<h3>TimePicker</h3>
			<div>
				<p class="code">&lt;tt-time-picker&gt;&lt;/tt-time-picker&gt;</p>
				<p class="description">Description</p>
				<tt-time-picker></tt-time-picker>
			</div>
			<tt-seperator></tt-seperator>

			<h3>DateTimePicker</h3>
			<div>
				<p class="code">&lt;tt-date-time-picker&gt;&lt;/tt-date-time-picker&gt;</p>
				<p class="description">Description</p>
				<tt-date-time-picker></tt-date-time-picker>
			</div>
			<tt-seperator></tt-seperator>

			<h3>WeekPicker</h3>
			<div>
				<p class="code">&lt;tt-week-picker&gt;&lt;/tt-week-picker&gt;</p>
				<p class="description">Description</p>
				<tt-week-picker></tt-week-picker>
			</div>
			<tt-seperator></tt-seperator>

			<h3>MonthPicker</h3>
			<div>
				<p class="code">&lt;tt-month-picker&gt;&lt;/tt-month-picker&gt;</p>
				<p class="description">Description</p>
				<tt-month-picker></tt-month-picker>
			</div>
			<tt-seperator></tt-seperator>

			<h3>TimezonePicker</h3>
			<div>
				<p class="code">&lt;tt-timezone-picker&gt;&lt;/tt-timezone-picker&gt;</p>
				<p class="description">Description</p>
				<tt-timezone-picker></tt-timezone-picker>
			</div>

		</div>

		<hr>

		<h2>ToolPicker</h2>
		<div>
			<h3>ColorPicker</h3>
			<div>
				<p class="code">&lt;tt-color-picker&gt;&lt;/tt-color-picker&gt;</p>
				<p class="description">Description</p>
				<tt-color-picker></tt-color-picker>
			</div>
			<tt-seperator></tt-seperator>

			<h3>FilePicker</h3>
			<div>
				<p class="code">&lt;tt-file-picker&gt;&lt;/tt-file-picker&gt;</p>
				<p class="description">Single file + multi file, but NO FOLDERS!</p>
				<tt-file-picker></tt-file-picker>
			</div>
			<tt-seperator></tt-seperator>

			<h3>ImagePicker</h3>
			<div>
				<p class="code">&lt;tt-image-picker&gt;&lt;/tt-image-picker&gt;</p>
				<p class="description">Same as filePicker, but with image previewer</p>
				<tt-image-picker></tt-image-picker>
			</div>
			<tt-seperator></tt-seperator>

			<h3>NumberPicker</h3>
			<div>
				<p class="code">&lt;tt-number-picker&gt;&lt;/tt-number-picker&gt;</p>
				<p class="description">Description</p>
				<tt-number-picker></tt-number-picker>
			</div>
			<tt-seperator></tt-seperator>

			<h3>RangePicker</h3>
			<div>
				<p class="code">&lt;tt-range-picker&gt;&lt;/tt-range-picker&gt;</p>
				<p class="description">Description</p>
				<tt-range-picker></tt-range-picker>
			</div>

		</div>

		<hr>

		<h2>Inputs</h2>
		<div>
			<h3>CheckInput</h3>
			<div>
				<p class="code">&lt;tt-check-input&gt;&lt;/tt-check-input&gt;</p>
				<p class="description">Description</p>
				<tt-check-input></tt-check-input>
			</div>
			<tt-seperator></tt-seperator>

			<h3>EmailInput</h3>
			<div>
				<p class="code">&lt;tt-email-input&gt;&lt;/tt-email-input&gt;</p>
				<p class="description">Description</p>
				<tt-email-input></tt-email-input>
			</div>
			<tt-seperator></tt-seperator>

			<h3>PasswordInput</h3>
			<div>
				<p class="code">&lt;tt-password-input&gt;&lt;/tt-password-input&gt;</p>
				<p class="description">Description</p>
				<tt-password-input></tt-password-input>
			</div>

			<h3>PasswordDoubleInput</h3>
			<div>
				<p class="code">&lt;tt-password-double-input&gt;&lt;/tt-password-double-input&gt;</p>
				<p class="description">Description</p>
				<tt-password-double-input></tt-password-double-input>
			</div>
			<tt-seperator></tt-seperator>

			<h3>PhoneInput</h3>
			<div>
				<p class="code">&lt;tt-phone-input&gt;&lt;/tt-phone-input&gt;</p>
				<p class="description">Description</p>
				<tt-phone-input></tt-phone-input>
			</div>
			<tt-seperator></tt-seperator>

			<h3>SearchInput</h3>
			<div>
				<p class="code">&lt;tt-search-input&gt;&lt;/tt-search-input&gt;</p>
				<p class="description">Description</p>
				<tt-search-input></tt-search-input>
			</div>
			<tt-seperator></tt-seperator>

			<h3>SelectInput</h3>
			<div>
				<p class="code">&lt;tt-select-input&gt;&lt;/tt-select-input&gt;</p>
				<p class="description">Description</p>
				<tt-select-input></tt-select-input>
			</div>
			<tt-seperator></tt-seperator>

			<h3>TextInput</h3>
			<div>
				<p class="code">&lt;tt-text-input&gt;&lt;/tt-text-input&gt;</p>
				<p class="description">Description</p>
				<tt-text-input></tt-text-input>
			</div>
			<tt-seperator></tt-seperator>

			<h3>UrlInput</h3>
			<div>
				<p class="code">&lt;tt-url-input&gt;&lt;/tt-url-input&gt;</p>
				<p class="description">Description</p>
				<tt-url-input></tt-url-input>
			</div>
		</div>

	</div>

</content>