<?php declare(strict_types=1);
/**
 * Webtra.Docs - https://webtranet.online/wappstower/Webtra.Docs
 *
 * @link      https://gitlab.com/webtranet/Webtra.Docs.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<content class="webcomponents">

	<h1>Molecules</h1>
	<div>

		<h2>Container</h2>
		<div>
			<h3>Carousel</h3>
			<div>
				<p class="code">&lt;tt-carousel&gt;&lt;/tt-carousel&gt;</p>
				<p class="description">Description</p>
				<tt-carousel></tt-carousel>
			</div>

			<h3>Form</h3>
			<div>
				<p class="code">&lt;tt-form&gt;&lt;/tt-form&gt;</p>
				<p class="description">Description</p>
				<tt-form></tt-form>
			</div>

			<h3>ImageCard</h3>
			<div>
				<p class="code">&lt;tt-image-card&gt;&lt;/tt-image-card&gt;</p>
				<p class="description">Label (headline) + Label (Text) + Image + Link + Card, has align property</p>
				<tt-image-card></tt-image-card>
			</div>

			<h3>MessageBox</h3>
			<div>
				<p class="code">&lt;tt-message-box&gt;&lt;/tt-message-box&gt;</p>
				<p class="description">Description</p>
				<tt-message-box></tt-message-box>
			</div>

			<h3>MessageDialog</h3>
			<div>
				<p class="code">&lt;tt-message-dialog&gt;&lt;/tt-message-dialog&gt;</p>
				<p class="description">Description</p>
				<tt-message-dialog></tt-message-dialog>
			</div>

			<h3>Pagination</h3>
			<div>
				<p class="code">&lt;tt-pagination&gt;&lt;/tt-pagination&gt;</p>
				<p class="description">Description</p>
				<tt-pagination></tt-pagination>
			</div>

			<h3>ProfileCard</h3>
			<div>
				<p class="code">&lt;tt-profile-card&gt;&lt;/tt-profile-card&gt;</p>
				<p class="description">ProfileImage + Card</p>
				<tt-profile-card></tt-profile-card>
			</div>

			<h3>Table</h3>
			<div>
				<p class="code">&lt;tt-table&gt;&lt;/tt-table&gt;</p>
				<p class="description">Description</p>
				<tt-table></tt-table>
			</div>
		</div>

		<h2>Media</h2>
		<div>
			<h3>MapMedia</h3>
			<div>
				<p class="code">&lt;tt-map-media&gt;&lt;/tt-map-media&gt;</p>
				<p class="description">Description</p>
				<tt-map-media></tt-map-media>
			</div>

			<h3>AudioMedia</h3>
			<div>
				<p class="code">&lt;tt-audio-media&gt;&lt;/tt-tt-audio-media&gt;</p>
				<p class="description">Description</p>
				<tt-tt-audio-media></tt-tt-audio-media>
			</div>

			<h3>VideoMedia</h3>
			<div>
				<p class="code">&lt;tt-vidio-media&gt;&lt;/tt-vidio-media&gt;</p>
				<p class="description">Description</p>
				<tt-vidio-media></tt-vidio-media>
			</div>

			<h3>ImageMedia</h3>
			<div>
				<p class="code">&lt;tt-image-media&gt;&lt;/tt-image-media&gt;</p>
				<p class="description">Description</p>
				<tt-image-media></tt-image-media>
			</div>

			<h3>PdfMedia</h3>
			<div>
				<p class="code">&lt;tt-pdf-media&gt;&lt;/tt-pdf-media&gt;</p>
				<p class="description">Description</p>
				<tt-pdf-media></tt-pdf-media>
			</div>
		</div>

	</div>

</content>