<?php declare(strict_types=1);
/**
 * Webtra.Docs - https://webtranet.online/wappstower/Webtra.Docs
 *
 * @link      https://gitlab.com/webtranet/Webtra.Docs.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<content class="webcomponents">

	<h1>Habitats</h1>
	<div>

		<h2>Layouter</h2>
		<div>
			<h3>Header</h3>
			<div>
				<p class="code">&lt;tt-header&gt;&lt;/tt-header&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>Navigation</h3>
			<div>
				<p class="code">&lt;tt-navigation&gt;&lt;/tt-navigation&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>Content</h3>
			<div>
				<p class="code">&lt;tt-content&gt;&lt;/tt-content&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>Sidebar</h3>
			<div>
				<p class="code">&lt;tt-breadcrumb&gt;&lt;/tt-breadcrumb&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>Footer</h3>
			<div>
				<p class="code">&lt;tt-breadcrumb&gt;&lt;/tt-breadcrumb&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>LoadingScreen</h3>
			<div>
				<p class="code">&lt;tt-loading-screen&gt;&lt;/tt-loading-screen&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>WappStore</h3>
			<div>
				<p class="code">&lt;tt-wapp-store&gt;&lt;/tt-wapp-store&gt;</p>
				<p class="description">Description</p>
			</div>
		</div>

		<h2>Wdl</h2>
		<div>
			<h3>Window</h3>
			<div>
				<p class="code">&lt;tt-window&gt;&lt;/tt-window&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>Desktop</h3>
			<div>
				<p class="code">&lt;tt-desktop&gt;&lt;/tt-desktop&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>DesktopWapp</h3>
			<div>
				<p class="code">&lt;tt-desktop-wapp&gt;&lt;/tt-desktop-wapp&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>DesktopSlot</h3>
			<div>
				<p class="code">&lt;tt-desktop-slot&gt;&lt;/tt-desktop-slot&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>StartMenu</h3>
			<div>
				<p class="code">&lt;tt-start-menu&gt;&lt;/tt-start-menu&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>StartMenuWapp</h3>
			<div>
				<p class="code">&lt;tt-start-menu-wapp&gt;&lt;/tt-start-menu-wapp&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>Taskbar</h3>
			<div>
				<p class="code">&lt;tt-taskbar&gt;&lt;/tt-taskbar&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>TaskbarWapp</h3>
			<div>
				<p class="code">&lt;tt-taskbar-wapp&gt;&lt;/tt-taskbar-wapp&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>Task</h3>
			<div>
				<p class="code">&lt;tt-task&gt;&lt;/tt-task&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>Traybar</h3>
			<div>
				<p class="code">&lt;tt-traybar&gt;&lt;/tt-traybar&gt;</p>
				<p class="description">Description</p>
			</div>

			<h3>Tray</h3>
			<div>
				<p class="code">&lt;tt-tray&gt;&lt;/tt-tray&gt;</p>
				<p class="description">Description</p>
			</div>
		</div>

	</div>

</content>