/**
 * Webtra.Docs - https://webtranet.online/wappstower/Webtra.Docs
 *
 * @link      https://gitlab.com/webtranet/Webtra.Docs.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

.linkbox-list
{
	display: flex;
	flex-wrap: wrap;
}

a.linkbox
{
	flex-grow: 1;
	display: flex;
	flex-direction: column;
	width: 9rem;
	margin: 0.5rem;

	background-color: #fff;
	border: 1px solid rgba(0, 0, 0, 0.125);
	border-radius: 0.35rem;

	color: inherit;
	text-decoration: none;
}

a.linkbox .linkbox-icon
{
	margin: 1rem auto 0rem auto;
}

a.linkbox .linkbox-body
{
	padding: 1rem 1rem 0rem 1rem;
	text-align: center;
}

a.linkbox .linkbox-body p
{
	margin-top: 1.2rem;
	font-size: 0.8rem;
	line-height: 1.3;
}