<?php declare(strict_types=1);
/**
 * Webtra.Docs - https://webtranet.online/wappstower/Webtra.Docs
 *
 * @link      https://gitlab.com/webtranet/Webtra.Docs.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<div class="jumbotron">
	<h1 class="display-4">Hello developer</h1>
	<p class="lead">Welcome to the documentation section of Webtranet.</p>
	<hr class="my-4">
	<p><?php echo t("WEBTRA.DOCS.OVERVIEWDESCRIPTION"); ?></p>
</div>

<div class="linkbox-list">
	<?php

	function printLinkBoxes(stdClass $views, $path = "")
	{
		foreach( $views as $viewName => $view )
		{
			$viewPath = !empty($path) ? "$path/$viewName" : $viewName;

			// Don't draw non-view entries
			if( !is_object($view) )
				continue;

			// Don't draw invisible entries
			if( isset($view->visible) && !empty($view->visible) )
				continue;

			// Don't draw tree entries, but include child menu entries
			if( !isset($view->content) )
			{
				printLinkBoxes( $view->views, $viewPath );
				continue;
			}

			// Don't draw containers without a desciption
			if( !isset($view->description) )
				continue;

			// Draw a container
			$viewLink = "/" . $_SERVER["TT"]->tower->getTowerInstance() .
				"/" . $_SERVER["TT"]->contentProvider .
				"/" . $_SERVER["TT"]->contentType .
				"/" . $viewPath;

			echo "<a href='$viewLink' class='linkbox'>
					<div class='linkbox-icon $view->navigationIconClass'></div>
					<div class='linkbox-body'>
						<h5>" . (substr($view->title, 0, 1) === "#" ? t(substr($view->title, 1)) : $view->title) . "</h5>
						<p>" . (substr($view->description, 0, 1) === "#" ? t(substr($view->description, 1)) : $view->description) . "</p>
					</div>
				</a>";
		}
	}

	printLinkBoxes( $_SERVER["TT"]->meta->views );

	?>
</div>