<?php declare(strict_types=1);
/**
 * Webtra.Docs - https://webtranet.online/wappstower/Webtra.Docs
 *
 * @link      https://gitlab.com/webtranet/Webtra.Docs.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */
?>

<content class="webcomponents">

	<h1>Common Info</h1>
	<div>
		<h2>Status:</h2>
		<ul>
			<li>primary (enabled)</li>
			<li>secondary (enabled)</li>
			<li>hover/focus</li>
			<li>active</li>
			<li>disabled</li>
		</ul>

		<hr>

		<h2>Colors:</h2>
		<ul>
			<li>Primary</li>
			<li>Secondary</li>
			<li>Tertiary</li>
		</ul>
	</div>

</content>