/**
 * Webtra.Docs - https://webtranet.online/wappstower/Webtra.Docs
 *
 * @link      https://gitlab.com/webtranet/Webtra.Docs.git for the source repository
 * @copyright Copyright (c) 2025 Webtranet Affinity Group (https://webtranet.online)
 * @license   http://webtranet.online/license ONFSL - Open but Not Free Software License
 */

body
{
	text-align: left;
}

.jumbotron
{
	padding: 0.5rem;
	margin-bottom: 2rem;
	background-color: #e9ecef;
	border-radius: 0.3rem;
}

h1, h2, h3, h4, h5, h6
{
	margin-bottom: 0.5rem;
	font-weight: 500;
	line-height: 1.2;
}

content.webcomponents div
{
	margin-left: 2%;
}

.code
{
	font-family: monospace;
}